@import url(http://fonts.googleapis.com/css?family=Muli|Crimson+Text:700italic);
/*Crimson Text = Headers. Muli = Paragraphs */

body {
  background: url("../img/shattered.png");
  font-family: Muli, sans-serif;
  font-size: 16px;
}

#webpage #container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: visible;
}

#webpage nav {
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0em;
  background: #D5D6D6; /* #D5D6D6 = Darkest shade of gray from background */
}

#webpage #menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
  background: #4C8FEC;
}

#webpage ul {
  padding: 0;
}

#webpage ul li {
  list-style: none;
  display: inline;
  margin: 0 2em;
}

#webpage #current-page {
  background: #DCDDDD; /*#DCDDDD = Lightest shade of gray from background. */
  padding: 0.5em;
}

#webpage a:link, #webpage a:visited, #webpage a:hover, #webpage a:active {
  text-decoration: none;
  color: black;
}

#webpage main a:link {
  text-decoration: underline;
}

#webpage ul li a {
  display: inline-block;
  /*padding-bottom: 0.5em;
  padding-top: 0.5em;*/
  padding: 0.5em;
  margin: 0em;
}

#webpage ul li a:hover {
  background: #DCDDDD; /*#DCDDDD = Lightest shade of gray from background. */
  /*padding: 0.5em;*/
}

#webpage a p {
  line-height: 0;
  margin-bottom: 4em;
}

#webpage h1 {
  font-family: "Crimson Text", sans-serif;
  font-style: italic;
  font-size: 2em;
  margin-bottom: 0em;
}

#webpage main h1 {
  text-align: center;
  font-size: 3.5em;
}

#webpage main {
  display: block;
  position: relative;
  top: 3em;
}

#webpage #headshot {
  float: left;
  border: 1px solid;
  border-radius: 100px;
  margin-right: 1.05em;
}

#webpage #homepage {
  display: block;
  margin-top: 25%;
  width: 100%;
  text-align: center;
}

#webpage .name {
  font-family: "Crimson Text", sans-serif;
  display: inline-block;
  font-size: 6.5em;
  font-style: italic;
  line-height: 0;
  margin-bottom: 0.25em;
  margin-left: 0.25em;
}

#webpage .slogan {
  font-size: 1.5em;
  line-height: 0.75;
}

#webpage #icons {
  text-align: center;
}

#webpage .fa {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/***********Resume***********/
#resume #resume-container {
  width: 960px;
  overflow: auto;
  display: block;
  padding: 1.25em;
  background: white;
  max-width: 960px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#resume a:link, #resume a:visited, #resume a:hover, #resume a:active {
  text-decoration: underline;
  color: black;
}

#resume #top-section {
  padding: 0em;
  position: relative;
  bottom: 75px;
  border-bottom: 1px solid black;
}

#resume #top-section h1 {
  font-family: "Crimson Text", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-size: 7.5em;
  margin-bottom: 0em;
  display: inline-block;
}

#resume #top-section #contact-info {
  display: inline-block;
  position: relative;
  top: 77px;
  right: 175px;
  float: right;
  width: 60px;
  height: 60px;
  margin-bottom: 1.05em;
}

#resume #top-section #contact-info li {
  list-style: none;
}

#resume #column1, #resume #column2 {
  position: relative;
  bottom: 75px;
}

#resume #column1 {
  float: left;
  width: 215px;
  padding-left: 0em;
}

#resume #column1 ul {
  padding-left: 1.5em;
}

#resume #column2 {
  float: right;
  width: 650px;
  border-left: 1px solid black;
  padding: 1.25em;
  padding-bottom: 2.6em;
}

#resume #column2 #experience {
  position: relative;
  bottom: 21px;
}

#resume .job {
  font-weight: bold;
}

#resume .fa {
  display: none;
}
/************************/
