@import url(http://fonts.googleapis.com/css?family=Muli|Crimson+Text:700italic);
/*Crimson Text = Headers. Muli = Paragraphs */

body {
  background: url("../img/shattered.png");
  font-family: Muli, sans-serif;
  font-size: 16px;
}

#container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  min-width: 320px;
  overflow: visible;
}

nav {
  text-align: center;
  border-radius: 1em;
  border: 1px solid;
  padding: 0em;
  background: #D5D6D6; /* #D5D6D6 = Darkest shade of gray from background */
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  display: inline;
  margin: 0 2em;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

ul li a {
  display: inline-block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin: 0px;
}

ul li a:hover {
  background: #DCDDDD; /*#DCDDDD = Lightest shade of gray from background. */
}

a p {
  line-height: 0;
  margin-bottom: 4em;
}

h1 {
  font-family: "Crimson Text", sans-serif;
  font-style: italic;
  font-size: 2em;
  margin-bottom: 0em;
}

header h1 {
  text-align: center;
  font-size: 3.5em;
}

main {
  display: block;
  position: relative;
  top: 3em;
}

#headshot {
  float: left;
  border: 1px solid;
  border-radius: 500px;
  margin-right: 1.05em;
}

#name {
  font-family: "Crimson Text", sans-serif;
  font-size: 7em;
  font-style: italic;
  line-height: 0;
  text-align: center;
  margin-bottom: 0.5em;
}

.slogan {
  text-align: center;
  font-size: 1.5em;
  line-height: 0.75;
}

#icons {
  text-align: center;
}

.fa {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}
