@page {
  margin: 0.5in;
}

* {
  color: black;
  background: transparent;
  font-size: 13pt;
  font-family: "Times New Roman", serif;
}

body {
  font-weight: 400;
}

h1 {
  text-align: right
}

h1, h2 {
  font-size: 1.9em;
}

nav {
  display: none;
}

img {
  display: none;
}

a:link, a:visited, a:hover, a:after {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  cursor: text;
}

#container {
  margin: 0 auto;
  width: 22.5cm;
  max-width: 25.4cm;
  min-width: 5.3cm;
  padding: 1em;
  overflow: auto;
  background: #fff;
}

#column_1 {
  float: left;
  display: inline-block;
  width: 5.3cm;
  position: relative;
  top: 0.1cm;
}

#addr_current {
  text-align: right;
  margin-top: 1cm;
  position: relative;
  bottom: 0.6cm;
}

#addr_current p {
  margin: 0cm;
  padding: 0cm;
  padding-top: 1cm;
  border-bottom-style: solid;
  border-bottom-width: 0.05cm;
  border-bottom-color: black;
}

#contact-info {
  position: relative;
  top: 0.35cm;
}


#contact-info ul, #contact-info ul li {
  list-style: none;
  text-align: right;
  margin: 0cm;
  padding: 0cm;
}

#contact-info ul li {
  margin-top: 0.3cm;
}

#column_2 {
  float: right;
  width: 16.5cm;
  padding-left: 0.4cm;
  border-left-style: solid;
  border-left-width: 0.03cm;
  border-left-color: black;
}

#skills, #education{
  float: left;
  display: inline-block;
  width: 8cm;
}

#skills ul, #education ul {
  position: relative;
  right: 0.6cm;
}

#skills {
  padding-left: 0.26cm;
}

#experience {
  clear: both;
}
