@import url(http://fonts.googleapis.com/css?family=Ubuntu:700|Muli);
/*Ubuntu = Headers. Muli = Paragraphs */

body {
  font-size: 13px;
  font-weight: 400;
  font-family: Muli, sans-serif;
  background: url("../img/seamless_paper_texture.png");
}

h1, h2 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.9em;
}

h1 {
  text-align: right;
}

img {
  border-radius: 100px;
  border: 1px solid #222;
}

#container {
  margin: 0 auto;
  width: 850px;
  max-width: 960px;
  min-width: 200px;
  padding: 1em;
  overflow: auto; /* One way to make container actually contain all elements. */
  background: #fff;
  border: 1px solid #222;
}

#column_1 {
  float: left;
  display: inline-block;
  width: 200px;
  position: relative;
  top: 15px;
}

#addr_current{
  text-align: right;
  margin-top: 10px;
}

#addr_current p{
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

#contact-info ul, #contact-info ul li {
  list-style: none;
  text-align: right;
  margin: 0px;
  padding: 0px;
}

#contact-info ul li {
  margin: 1px;
}

#column_2 {
  float: right;
  width: 620px;
  padding-left: 15px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
}

#skills, #education{
  float: left;
  display: inline-block;
  width: 305px;
}

#skills ul, #education ul {
  position: relative;
  right: 23px;
}

#skills {
  padding-left: 10px;
}

#experience {
  clear: both;
}
