#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  font-size: 15px;
}

.column_1 {
  float: left;
  display: inline-block;
  width: 200px;
  position: relative;
  top: 15px;
}

.column_2 {
  float: right;
  width: 620px;
  padding-left: 15px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
}

h1 {
  font-size: 20px;
  text-align: right;
}

address {
  text-align: right;
}

#img-container {

}

img {
  border-radius: 100px;
}

#skills, #education {
  float: left;
  display: inline-block;
  width: 305px;
}

#skills {
  padding-left: 10px;
}

#edcation {

}

#experience {
  clear: both;
}
