@page {
  margin: 0.5in;
}

* {
  color: black;
  background: transparent;
  font-size: 13pt;
  font-family: "Times New Roman", serif;
}

/***********Resume***********/
a:link, a:visited, a:hover, a:after {
  text-decoration: none;
}

#resume-container {
  width: 9in;
  display: block;
  padding: 1.25em;
  margin-left: auto;
  margin-right: auto;
}

#top-section {
  padding: 0em;
  position: relative;
  bottom: 0.78in;
  border-bottom: 1px solid black;
}

#top-section h1 {
  font-style: italic;
  font-size: 5em;
  margin-bottom: 0em;
  display: inline-block;
}

#top-section #contact-info {
  display: inline-block;
  position: relative;
  top: 0.52in;
  right: 1.82in;
  float: right;
  width: 0.625in;
  height: 0.625in;
  margin-bottom: 1.05em;
}

#top-section #contact-info li {
  list-style: none;
}

#column1, #column2 {
  position: relative;
  bottom: 0.78in;
}

#column1 {
  float: left;
  width: 2in;
  padding-left: 0em;
}

#column1 ul {
  padding-left: 1em;
}

#column2 {
  float: right;
  width: 6.5in;
  border-left: 1px solid black;
  padding: 1.25em;
  padding-bottom: 0em;
}

#column2 #experience {
  position: relative;
  bottom: 0.218in;
}

h2 {
  font-size: 1.5em;
}

.job {
  font-weight: bold;
}

.fa {
  display: none;
}
/************************/
